.text{
    color: #3c009d;
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
    margin-bottom: 30px;
}

.main-container{
    width: 300px;
}

.titolo{
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.autore{
    text-align: center;
    font-weight: lighter;
    font-style: italic;
}