.text {
  color: #0096b5;
  font-size: 48px;
  font-weight: 700;
}

.underline {
  width: 61px;
  height: 6px;
  background: #0096b5;
  border-radius: 9px;
  margin-bottom: 30px;
}

.main-container {
  padding-right: 30px;
  
}

.titolo {
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.autore {
  text-align: center;
  font-weight: lighter;
  font-style: italic;
}

.search-bar {
  max-width: 95%;
}
