.lateral-navbar {
  width: 230px;
  background: #f6f6f6;
  padding: 15px;
  min-height: 100vh;
  height: 100%;
  font-family: Roboto, sans-serif;
}

.lateral-navbar h2 {
  color: black;
  margin-bottom: 20px;
  padding: 15px;
}

.lateral-navbar ul {
  list-style-type: none;
  padding: 10px;
}

.lateral-navbar li {
  margin: 5px 0;
  padding: 8px;
}

.lateral-navbar li:hover {
  background-color: #ddd;
  cursor: pointer;
  border-radius: 0.375rem;
}

.lateral-navbar a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.lateral-navbar a:hover {
  background-color: #ddd;
  cursor: pointer;
  background-image: none;
  transition: all 100s ease-in-out;
}

.full-height-container {
  height: 100%;
}

.flex-container {
  display: flex;
}

.body-container {
  overflow-y: auto;
  width: 98%;
}
